USE [master]
GO
/****** Object:  Database [DigitalLibraryDB]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE DATABASE [DigitalLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalLibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DigitalLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalLibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DigitalLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalLibraryDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](255) NOT NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Summary] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CoverURL] [nvarchar](255) NULL,
	[ContentPath] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[TotalPages] [int] NULL,
	[PreviewPages] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[AuthorID] [int] NULL,
	[CategoryID] [int] NULL,
	[CreatedByEmployeeID] [int] NULL,
	[UpdatedByEmployeeID] [int] NULL,
	[Language] [nvarchar](50) NULL,
	[PublicationYear] [int] NULL,
	[stock_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopy]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopy](
	[copy_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[copy_code] [nvarchar](100) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[bookmark_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[page_number] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookmark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[borrow_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[request_id] [int] NULL,
	[borrow_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Extend]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Extend](
	[extend_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[old_due_date] [datetime2](7) NOT NULL,
	[requested_due_date] [datetime2](7) NOT NULL,
	[approved_due_date] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[extend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Item]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Item](
	[borrow_item_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NOT NULL,
	[copy_id] [int] NOT NULL,
	[due_date] [datetime2](7) NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[note] [nvarchar](max) NULL,
	[processed_by_employee_id] [int] NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
	[expected_start_date] [date] NULL,
	[expected_return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request_Item]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request_Item](
	[request_item_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[added_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[fine_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[fine_type_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[handled_by_employee_id] [int] NULL,
	[request_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine_Type]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine_Type](
	[fine_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[default_amount] [decimal](10, 2) NULL,
	[per_day_rate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NULL,
	[type] [nvarchar](30) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[currency] [nvarchar](10) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Book]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Book](
	[order_book_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](30) NOT NULL,
	[transaction_code] [nvarchar](100) NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[fine_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[reader_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](30) NULL,
	[avatar] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
	[avatar_url] [nvarchar](500) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Account]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[provider_user_id] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[provider_email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Book_Ownership]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Book_Ownership](
	[ownership_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[acquired_at] [datetime2](7) NOT NULL,
	[acquired_via] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ownership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading_History]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[last_read_position] [int] NULL,
	[last_read_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[queued_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
	[fulfilled_at] [datetime2](7) NULL,
	[cancelled_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/18/2026 8:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorName], [bio]) VALUES (1, N'Nguyễn Nhật Ánh', N'Tác giả nổi tiếng với những tác phẩm văn học thiếu nhi và tuổi teen như "Tôi thấy hoa vàng trên cỏ xanh", "Mắt biếc".')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [bio]) VALUES (2, N'Tô Hoài', N'Nhà văn nổi tiếng với tác phẩm "Dế Mèn phiêu lưu ký". Ông là một trong những cây bút xuất sắc nhất của văn học thiếu nhi Việt Nam.')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [bio]) VALUES (3, N'Nam Cao', N'Nhà văn hiện thực phê phán nổi tiếng với các tác phẩm "Chi Phèo", "Lão Hạc", "Sống mòn".')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCopy] ON 

INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (1, 1, N'B1-CP1', N'damaged', CAST(N'2026-03-16T21:34:53.5066667' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (2, 1, N'B1-CP2', N'lost', CAST(N'2026-03-16T21:34:53.5066667' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (3, 1, N'B1-CP3', N'damaged', CAST(N'2026-03-16T21:34:53.5066667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[BookCopy] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookmark] ON 

INSERT [dbo].[Bookmark] ([bookmark_id], [reader_id], [book_id], [page_number], [note], [created_at]) VALUES (1, 1, 1, 7, NULL, CAST(N'2026-03-17T16:14:34.9482399' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookmark] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow] ON 

INSERT [dbo].[Borrow] ([borrow_id], [reader_id], [request_id], [borrow_date], [status], [created_at], [approved_by_employee_id]) VALUES (3, 1, 2, CAST(N'2026-03-16T00:00:00.0000000' AS DateTime2), N'returned', CAST(N'2026-03-16T16:12:14.5551245' AS DateTime2), 1)
INSERT [dbo].[Borrow] ([borrow_id], [reader_id], [request_id], [borrow_date], [status], [created_at], [approved_by_employee_id]) VALUES (4, 1, 3, CAST(N'2026-03-16T00:00:00.0000000' AS DateTime2), N'returned', CAST(N'2026-03-16T16:21:47.8347511' AS DateTime2), 2)
INSERT [dbo].[Borrow] ([borrow_id], [reader_id], [request_id], [borrow_date], [status], [created_at], [approved_by_employee_id]) VALUES (5, 1, 5, CAST(N'2026-03-17T00:00:00.0000000' AS DateTime2), N'returned', CAST(N'2026-03-17T01:18:05.9565349' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Borrow] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Extend] ON 

INSERT [dbo].[Borrow_Extend] ([extend_id], [borrow_item_id], [old_due_date], [requested_due_date], [approved_due_date], [status], [requested_at], [processed_at], [decision_note], [approved_by_employee_id]) VALUES (1, 2, CAST(N'2026-03-21T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-22T00:00:00.0000000' AS DateTime2), NULL, N'pending', CAST(N'2026-03-16T23:40:38.9249396' AS DateTime2), NULL, N'', NULL)
SET IDENTITY_INSERT [dbo].[Borrow_Extend] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Item] ON 

INSERT [dbo].[Borrow_Item] ([borrow_item_id], [borrow_id], [copy_id], [due_date], [returned_at], [status]) VALUES (2, 3, 1, CAST(N'2026-03-21T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-17T15:55:02.3762363' AS DateTime2), N'returned')
INSERT [dbo].[Borrow_Item] ([borrow_item_id], [borrow_id], [copy_id], [due_date], [returned_at], [status]) VALUES (3, 4, 2, CAST(N'2026-03-16T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-16T23:40:24.9438150' AS DateTime2), N'returned')
INSERT [dbo].[Borrow_Item] ([borrow_item_id], [borrow_id], [copy_id], [due_date], [returned_at], [status]) VALUES (4, 5, 2, CAST(N'2026-03-24T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-17T15:55:05.5623310' AS DateTime2), N'returned')
SET IDENTITY_INSERT [dbo].[Borrow_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Request] ON 

INSERT [dbo].[Borrow_Request] ([request_id], [reader_id], [status], [requested_at], [note], [processed_by_employee_id], [processed_at], [decision_note], [expected_start_date], [expected_return_date]) VALUES (1, 1, N'rejected', CAST(N'2026-03-16T14:51:30.9431767' AS DateTime2), N'test', 2, CAST(N'2026-03-16T15:01:55.2786546' AS DateTime2), NULL, CAST(N'2026-03-17' AS Date), CAST(N'2026-03-24' AS Date))
INSERT [dbo].[Borrow_Request] ([request_id], [reader_id], [status], [requested_at], [note], [processed_by_employee_id], [processed_at], [decision_note], [expected_start_date], [expected_return_date]) VALUES (2, 1, N'approved', CAST(N'2026-03-16T15:00:32.3170151' AS DateTime2), N'', 1, CAST(N'2026-03-16T16:12:14.5377814' AS DateTime2), N'Approve Test', CAST(N'2026-03-16' AS Date), CAST(N'2026-03-17' AS Date))
INSERT [dbo].[Borrow_Request] ([request_id], [reader_id], [status], [requested_at], [note], [processed_by_employee_id], [processed_at], [decision_note], [expected_start_date], [expected_return_date]) VALUES (3, 1, N'approved', CAST(N'2026-03-16T15:08:05.4033614' AS DateTime2), N'', 2, CAST(N'2026-03-16T16:21:47.8327725' AS DateTime2), NULL, CAST(N'2026-03-16' AS Date), CAST(N'2026-03-16' AS Date))
SET IDENTITY_INSERT [dbo].[Borrow_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Request_Item] ON 

INSERT [dbo].[Borrow_Request_Item] ([request_item_id], [request_id], [book_id], [quantity]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Borrow_Request_Item] ([request_item_id], [request_id], [book_id], [quantity]) VALUES (2, 3, 1, 1)
INSERT [dbo].[Borrow_Request_Item] ([request_item_id], [request_id], [book_id], [quantity]) VALUES (3, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Borrow_Request_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [reader_id], [status], [created_at], [updated_at]) VALUES (1, 1, N'checked_out', CAST(N'2026-03-16T13:44:08.2637339' AS DateTime2), CAST(N'2026-03-17T00:59:01.7432387' AS DateTime2))
INSERT [dbo].[Cart] ([cart_id], [reader_id], [status], [created_at], [updated_at]) VALUES (2, 1, N'active', CAST(N'2026-03-17T00:59:04.2946253' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart_Item] ON 

INSERT [dbo].[Cart_Item] ([cart_item_id], [cart_id], [book_id], [quantity], [unit_price], [added_at]) VALUES (2, 2, 1, 1, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2026-03-17T00:59:11.0900597' AS DateTime2))
INSERT [dbo].[Cart_Item] ([cart_item_id], [cart_id], [book_id], [quantity], [unit_price], [added_at]) VALUES (3, 2, 9, 1, CAST(160000.00 AS Decimal(10, 2)), CAST(N'2026-03-17T16:11:58.8098221' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cart_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Văn học Việt Nam', N'Các tác phẩm văn học của các tác giả Việt Nam, bao gồm tiểu thuyết, truyện ngắn, thơ.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Văn học nước ngoài', N'Tác phẩm văn học được dịch từ các ngôn ngữ khác, bao gồm tiểu thuyết, thơ và văn xuôi.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Sách thiếu nhi', N'Sách dành cho trẻ em và thiếu niên, bao gồm truyện cổ tích, truyện tranh và sách giáo dục.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (1, N'Admin User', N'admin@digitallibrary.vn', N'8195734004ee4bbd4a9013d7d7742aa7:5ff244d268ec0e5f04dc8e159286deff650ee6455a67f43493b6fb013620b318', N'active', CAST(N'2026-01-26T18:12:16.3841498' AS DateTime2), 1)
INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (2, N'Nguyễn Thị Hoa', N'librarian@digitallibrary.vn', N'e990b550e4ef373372f3a4a89233e60f:97345bef55beed75de2b079413e03caa004c2da57071631398402de98c2884c1', N'active', CAST(N'2026-01-26T18:12:16.3841498' AS DateTime2), 2)
INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (3, N'Trần Văn Nam', N'seller@digitallibrary.vn', N'04dd8f331036166db64c8fbb5ec9d9cf:1448d6bcce440720ebab1f8e47a7657bcce53865fdc5624ebd6b87a0fb7fa322', N'active', CAST(N'2026-01-26T18:12:16.3841498' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Fine] ON 

INSERT [dbo].[Fine] ([fine_id], [reader_id], [borrow_item_id], [fine_type_id], [amount], [reason], [status], [created_at], [paid_at], [handled_by_employee_id], [request_id]) VALUES (1, 3, 2, 1, CAST(15000.00 AS Decimal(10, 2)), NULL, N'unpaid', CAST(N'2026-03-17T00:11:25.6108797' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Fine] ([fine_id], [reader_id], [borrow_item_id], [fine_type_id], [amount], [reason], [status], [created_at], [paid_at], [handled_by_employee_id], [request_id]) VALUES (2, 3, 2, 3, CAST(25000.00 AS Decimal(10, 2)), NULL, N'unpaid', CAST(N'2026-03-17T00:11:25.6108797' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Fine] ([fine_id], [reader_id], [borrow_item_id], [fine_type_id], [amount], [reason], [status], [created_at], [paid_at], [handled_by_employee_id], [request_id]) VALUES (3, 1, 8, 3, CAST(500001.00 AS Decimal(10, 2)), N'Mức độ: Light | hỏng 70%', N'paid', CAST(N'2026-03-18T12:31:41.0739947' AS DateTime2), CAST(N'2026-03-18T12:33:40.7507130' AS DateTime2), 2, NULL)
SET IDENTITY_INSERT [dbo].[Fine] OFF
GO
SET IDENTITY_INSERT [dbo].[Fine_Type] ON 

INSERT [dbo].[Fine_Type] ([fine_type_id], [name], [description], [default_amount], [per_day_rate]) VALUES (1, N'Quá hạn (Late Return) - Thu phí 5.000đ/ngày', N'Phạt trả sách trễ', NULL, CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[Fine_Type] ([fine_type_id], [name], [description], [default_amount], [per_day_rate]) VALUES (2, N'Làm mất sách (Lost) - Phạt 150% giá sách', N'Phạt mất sách', CAST(500000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Fine_Type] ([fine_type_id], [name], [description], [default_amount], [per_day_rate]) VALUES (3, N'Hư hỏng sách (Damaged) - Phạt 50% giá sách', N'Phạt làm hỏng sách', CAST(200000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Fine_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notification_id], [reader_id], [title], [message], [type], [is_read], [created_at]) VALUES (1, 1, N'ChÃ o má»«ng Ä‘áº¿n vá»›i Digital Library!', N'Há»‡ thá»‘ng xÃ¡c thá»±c Ä‘Ã£ Ä‘Æ°á»£c nÃ¢ng cáº¥p. HÃ£y cáº­p nháº­t thÃ´ng tin há»“ sÆ¡ cá»§a báº¡n.', N'general', 1, CAST(N'2026-03-16T13:08:34.9313490' AS DateTime2))
INSERT [dbo].[Notification] ([notification_id], [reader_id], [title], [message], [type], [is_read], [created_at]) VALUES (2, 1, N'Sach da den luot muon', N'Sach ban dat truoc da co san. Ban co 24 gio de tao yeu cau muon.', N'reservation', 1, CAST(N'2026-03-18T10:50:40.8867378' AS DateTime2))
INSERT [dbo].[Notification] ([notification_id], [reader_id], [title], [message], [type], [is_read], [created_at]) VALUES (3, 1, N'Vi phạm sách khi trả', N'Sách cuốn sách bạn mượn được ghi nhận vi phạm (mất sách). Mức phạt: 500001đ.', N'fine', 1, CAST(N'2026-03-18T12:31:41.1044445' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [reader_id], [total_amount], [currency], [status], [created_at]) VALUES (1, 1, CAST(300000.00 AS Decimal(10, 2)), N'VND', N'pending', CAST(N'2026-03-17T00:59:01.6738461' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Book] ON 

INSERT [dbo].[Order_Book] ([order_book_id], [order_id], [book_id], [price], [quantity]) VALUES (1, 1, 1, CAST(150000.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[Order_Book] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetToken] ON 

INSERT [dbo].[PasswordResetToken] ([token_id], [reader_id], [token], [expires_at], [is_used], [created_at]) VALUES (1, 5, N'vpBWm2DWDWv5KEOX3gVJFFn3WcRdrefNpBiATwWVLi8', CAST(N'2026-03-18T00:08:28.8100000' AS DateTime2), 0, CAST(N'2026-03-17T23:08:28.8100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PasswordResetToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader] ON 

INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id], [avatar_url], [updated_at]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana@example.com', N'8ba1de02906a4a2de87e737dd4972807:fcc849a180e6c601b73b72b04e2c5debdeb8902c861323cbd4dfca0341bde527', N'0123456789', NULL, N'active', CAST(N'2026-01-26T18:12:16.3886646' AS DateTime2), 4, NULL, CAST(N'2026-03-16T20:40:09.2333333' AS DateTime2))
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id], [avatar_url], [updated_at]) VALUES (2, N'Trần Thị B', N'tranthib@example.com', N'password123', N'0987654321', NULL, N'active', CAST(N'2026-01-26T18:12:16.3886646' AS DateTime2), 4, NULL, NULL)
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id], [avatar_url], [updated_at]) VALUES (3, N'Lê Văn C', N'levanc@example.com', N'password123', N'0369852147', NULL, N'active', CAST(N'2026-01-26T18:12:16.3886646' AS DateTime2), 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reader] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader_Account] ON 

INSERT [dbo].[Reader_Account] ([account_id], [reader_id], [provider], [provider_user_id], [created_at], [provider_email]) VALUES (1, 5, N'google', N'103710380364717101419', CAST(N'2026-03-17T16:03:05.3958478' AS DateTime2), N'12damhao@gmail.com')
SET IDENTITY_INSERT [dbo].[Reader_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader_Book_Ownership] ON 

INSERT [dbo].[Reader_Book_Ownership] ([ownership_id], [reader_id], [book_id], [acquired_at], [acquired_via], [status]) VALUES (1, 1, 1, CAST(N'2026-03-17T00:59:01.7227630' AS DateTime2), N'order', N'active')
SET IDENTITY_INSERT [dbo].[Reader_Book_Ownership] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([reservation_id], [reader_id], [book_id], [status], [queued_at], [expires_at], [fulfilled_at], [cancelled_at]) VALUES (1, 1, 1, N'CANCELLED', CAST(N'2026-03-18T10:49:55.6468425' AS DateTime2), CAST(N'2026-03-19T10:50:40.8842572' AS DateTime2), NULL, CAST(N'2026-03-18T10:53:47.6931248' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (1, N'ADMIN', N'Quản trị viên hệ thống')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (2, N'LIBRARIAN', N'Thủ thư quản lý sách')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (3, N'SELLER', N'Nhân viên bán hàng')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookCopy__5196394FD0CD7212]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[BookCopy] ADD UNIQUE NONCLUSTERED 
(
	[copy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Borrow__18D3B90E8531A029]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[Borrow] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E616426089E63]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_Reader_Read]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_Reader_Read] ON [dbo].[Notification]
(
	[reader_id] ASC,
	[is_read] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__CA90DA7A84652EEF]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[PasswordResetToken] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetToken_Token]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetToken_Token] ON [dbo].[PasswordResetToken]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Reader__AB6E61643099DD95]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[Reader] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reading_History_Reader_Book]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reading_History_Reader_Book] ON [dbo].[Reading_History]
(
	[reader_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservation_Book_Status_QueuedAt]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_Book_Status_QueuedAt] ON [dbo].[Reservation]
(
	[book_id] ASC,
	[status] ASC,
	[queued_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservation_Reader_Status]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_Reader_Status] ON [dbo].[Reservation]
(
	[reader_id] ASC,
	[status] ASC,
	[queued_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Reservation_Reader_Book_Active]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reservation_Reader_Book_Active] ON [dbo].[Reservation]
(
	[reader_id] ASC,
	[book_id] ASC
)
WHERE ([status] IN ('pending', 'active'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Reservation_ReaderBook_Open]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reservation_ReaderBook_Open] ON [dbo].[Reservation]
(
	[reader_id] ASC,
	[book_id] ASC
)
WHERE ([status] IN ('pending', 'active'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Reader_Book]    Script Date: 3/18/2026 8:17:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Review_Reader_Book] ON [dbo].[Review]
(
	[reader_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__783254B13F4B6A93]    Script Date: 3/18/2026 8:17:55 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Stock]  DEFAULT ((10)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[BookCopy] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookmark] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [borrow_date]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow_Extend] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT (sysutcdatetime()) FOR [added_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Reader_Account] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] ADD  DEFAULT (sysutcdatetime()) FOR [acquired_at]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (sysutcdatetime()) FOR [queued_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_CreatedBy] FOREIGN KEY([CreatedByEmployeeID])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_CreatedBy]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_UpdatedBy] FOREIGN KEY([UpdatedByEmployeeID])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_UpdatedBy]
GO
ALTER TABLE [dbo].[BookCopy]  WITH NOCHECK ADD  CONSTRAINT [FK_BookCopy_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookCopy] CHECK CONSTRAINT [FK_BookCopy_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH NOCHECK ADD  CONSTRAINT [FK_Bookmark_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH NOCHECK ADD  CONSTRAINT [FK_Bookmark_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH NOCHECK ADD  CONSTRAINT [FK_Borrow_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow]  WITH NOCHECK ADD  CONSTRAINT [FK_Borrow_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH NOCHECK ADD  CONSTRAINT [FK_Borrow_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Request]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH NOCHECK ADD  CONSTRAINT [FK_Extend_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH NOCHECK ADD  CONSTRAINT [FK_Extend_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_BorrowItem]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_BorrowItem_Borrow] FOREIGN KEY([borrow_id])
REFERENCES [dbo].[Borrow] ([borrow_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Borrow]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_BorrowItem_Copy] FOREIGN KEY([copy_id])
REFERENCES [dbo].[BookCopy] ([copy_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Copy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH NOCHECK ADD  CONSTRAINT [FK_BorrowRequest_ProcessedBy] FOREIGN KEY([processed_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_ProcessedBy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH NOCHECK ADD  CONSTRAINT [FK_BorrowRequest_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_Reader]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_BRItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Book]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_BRItem_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Request]
GO
ALTER TABLE [dbo].[Cart]  WITH NOCHECK ADD  CONSTRAINT [FK_Cart_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Reader]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_CartItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Book]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Employee]  WITH NOCHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Fine]  WITH NOCHECK ADD  CONSTRAINT [FK_Fine_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_BorrowItem]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_BorrowRequest] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_BorrowRequest]
GO
ALTER TABLE [dbo].[Fine]  WITH NOCHECK ADD  CONSTRAINT [FK_Fine_HandledBy] FOREIGN KEY([handled_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_HandledBy]
GO
ALTER TABLE [dbo].[Fine]  WITH NOCHECK ADD  CONSTRAINT [FK_Fine_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Reader]
GO
ALTER TABLE [dbo].[Fine]  WITH NOCHECK ADD  CONSTRAINT [FK_Fine_Type] FOREIGN KEY([fine_type_id])
REFERENCES [dbo].[Fine_Type] ([fine_type_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Type]
GO
ALTER TABLE [dbo].[Notification]  WITH NOCHECK ADD  CONSTRAINT [FK_Notification_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Reader]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Reader]
GO
ALTER TABLE [dbo].[Order_Book]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderBook_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Book]
GO
ALTER TABLE [dbo].[Order_Book]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderBook_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Order]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetToken_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken] CHECK CONSTRAINT [FK_PasswordResetToken_Reader]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Fine] FOREIGN KEY([fine_id])
REFERENCES [dbo].[Fine] ([fine_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Fine]
GO
ALTER TABLE [dbo].[Payment]  WITH NOCHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Reader]  WITH NOCHECK ADD  CONSTRAINT [FK_Reader_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Role]
GO
ALTER TABLE [dbo].[Reader_Account]  WITH NOCHECK ADD  CONSTRAINT [FK_ReaderAccount_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Account] CHECK CONSTRAINT [FK_ReaderAccount_Reader]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH NOCHECK ADD  CONSTRAINT [FK_Ownership_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Book]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH NOCHECK ADD  CONSTRAINT [FK_Ownership_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Reader]
GO
ALTER TABLE [dbo].[Reading_History]  WITH NOCHECK ADD  CONSTRAINT [FK_ReadHistory_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Book]
GO
ALTER TABLE [dbo].[Reading_History]  WITH NOCHECK ADD  CONSTRAINT [FK_ReadHistory_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Reader]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Book]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Reader]
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [FK_Review_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Book]
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [FK_Review_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Reader]
GO
USE [master]
GO
