<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <display-name>SWP391 - Digital Library</display-name>
    
    <!-- Book Servlet -->
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>controller.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    
    <!-- Borrow Request Servlet -->
    <servlet>
        <servlet-name>BorrowRequestServlet</servlet-name>
        <servlet-class>controller.BorrowRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowRequestServlet</servlet-name>
        <url-pattern>/borrow</url-pattern>
    </servlet-mapping>
    
    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <!-- Reader Borrow Servlet -->
    <servlet>
        <servlet-name>ReaderBorrowServlet</servlet-name>
        <servlet-class>controller.ReaderBorrowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReaderBorrowServlet</servlet-name>
        <url-pattern>/readerBorrow</url-pattern>
    </servlet-mapping>
    
    <!-- Librarian Servlet -->
    <servlet>
        <servlet-name>LibrarianServlet</servlet-name>
        <servlet-class>controller.LibrarianServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibrarianServlet</servlet-name>
        <url-pattern>/librarian</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>

